@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../assets/font/MyriadPro-Regular.otf); }

* {
  margin: 0;
  font-family: "MyriadPro-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html {
  font-family: "MyriadPro-Regular", sans-serif; }

body {
  font-family: "MyriadPro-Regular", sans-serif;
  overflow-x: hidden; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

@media screen and (min-width: 1025px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .lg-only {
    display: none !important; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transform: translateY(0);
  transition: 0.5s;
  z-index: 30; }
  header.active {
    transform: translateY(-3rem); }
  header .header-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 10px 20px;
    background-color: #fff; }
    @media screen and (min-width: 1025px) {
      header .header-inner {
        justify-content: space-between;
        position: relative;
        width: 90%;
        max-width: 1920px; } }
    header .header-inner .logo {
      transition: 0.5s; }
      header .header-inner .logo:hover {
        opacity: 0.5; }
      header .header-inner .logo a {
        display: flex;
        align-items: center; }
        header .header-inner .logo a img {
          width: 7rem; }
    header .header-inner nav {
      position: absolute;
      top: 0%;
      right: 0;
      width: 50%;
      height: 100vh;
      background-color: #f7f8fa;
      opacity: 0;
      transform: translateX(10%);
      transition: 0.5s;
      visibility: hidden;
      z-index: 50; }
      @media screen and (min-width: 1025px) {
        header .header-inner nav {
          position: static;
          width: fit-content;
          height: auto;
          background-color: #fff;
          opacity: 1;
          transform: translateX(0);
          visibility: visible; } }
      header .header-inner nav.active {
        opacity: 1;
        transform: translateX(0);
        visibility: visible; }
      header .header-inner nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        width: 100%; }
        @media screen and (min-width: 1025px) {
          header .header-inner nav ul {
            flex-direction: row;
            position: static; } }
        header .header-inner nav ul li {
          width: 100%;
          margin: 8px 0;
          padding: 8px 0;
          padding-right: 20px;
          color: #004da0;
          text-align: right;
          transition: 0.5s;
          cursor: pointer; }
          @media screen and (min-width: 1025px) {
            header .header-inner nav ul li {
              margin: 0 8px;
              padding: 4px 10px; } }
          header .header-inner nav ul li:last-child {
            position: relative;
            margin-top: 40px; }
            header .header-inner nav ul li:last-child::before {
              content: "";
              display: block;
              position: absolute;
              top: -50%;
              right: 0;
              width: 90%;
              border-top: 2px solid #e0e2e7; }
              @media screen and (min-width: 1025px) {
                header .header-inner nav ul li:last-child::before {
                  display: none; } }
          header .header-inner nav ul li:hover {
            opacity: 0.5; }
          header .header-inner nav ul li span {
            font-size: 1.5rem;
            text-transform: capitalize; }
            @media screen and (min-width: 1025px) {
              header .header-inner nav ul li span {
                font-size: 1.3rem; } }
      header .header-inner nav .close-btn {
        position: absolute;
        top: 1rem;
        right: 16px;
        padding: 4px;
        color: #004da0;
        transition: 0.5s;
        cursor: pointer; }
        header .header-inner nav .close-btn:hover {
          opacity: 0.5; }
    header .header-inner .nav-btn {
      position: absolute;
      top: 50%;
      right: 20px;
      color: #004da0;
      font-size: 1.1rem;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.5s; }
      header .header-inner .nav-btn:hover {
        opacity: 0.5; }
    header .header-inner .header-lg-right {
      display: flex;
      align-items: center;
      right: 20px; }
      header .header-inner .header-lg-right .pf-link {
        margin-right: 32px;
        font-size: 1.5rem;
        transition: 0.5s; }
        @media screen and (min-width: 1025px) {
          header .header-inner .header-lg-right .pf-link {
            font-size: 1.3rem; } }
        header .header-inner .header-lg-right .pf-link:hover {
          opacity: 0.5; }
      header .header-inner .header-lg-right .sns-lg {
        display: flex; }
        header .header-inner .header-lg-right .sns-lg a {
          padding: 0 4px;
          margin: 0 4px;
          font-size: 1.1rem;
          transition: 0.5s; }
          header .header-inner .header-lg-right .sns-lg a:hover {
            opacity: 0.5; }
          header .header-inner .header-lg-right .sns-lg a img {
            width: 17px; }

main section {
  padding: 0 20px;
  padding-bottom: 50px; }
  @media screen and (min-width: 1025px) {
    main section {
      min-height: 60vh; } }
  main section.active h2 {
    opacity: 1;
    transform: translateY(0); }
  main section.active .under-line {
    transform: scale(1); }
  main section h2 {
    margin-top: 35px;
    color: #004da0;
    text-align: center;
    transform: translateY(-20px);
    transition: 0.5s; }
  main section .under-line {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e0e2e7;
    transition: 0.5s; }

main .intro-section {
  height: 100vh;
  background-image: url("../../assets/images/index/bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  main .intro-section .logo .lg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    transform: translate(-50%, -50%); }
    main .intro-section .logo .lg-logo img {
      width: 100%; }
      @media screen and (min-width: 1025px) {
        main .intro-section .logo .lg-logo img {
          width: 50%; } }

main .slide-section {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  main .slide-section .slide-wrap {
    display: flex;
    width: 300vw; }
    main .slide-section .slide-wrap .slide-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      background-color: #f7f8fa; }
      main .slide-section .slide-wrap .slide-item a {
        display: flex;
        align-items: center; }
        main .slide-section .slide-wrap .slide-item a img {
          width: 100%; }
  main .slide-section .prev,
  main .slide-section .next {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    background-color: #e9e9e9;
    font-size: 1.2rem;
    border-radius: 50%; }
    @media screen and (min-width: 1025px) {
      main .slide-section .prev,
      main .slide-section .next {
        width: 48px;
        height: 48px;
        font-size: 2rem; } }
  main .slide-section .prev {
    left: 20px; }
    @media screen and (min-width: 1025px) {
      main .slide-section .prev {
        left: 8rem; } }
    main .slide-section .prev i {
      transform: translate(-1px, -2px); }
  main .slide-section .next {
    right: 20px; }
    @media screen and (min-width: 1025px) {
      main .slide-section .next {
        right: 8rem; } }
    main .slide-section .next i {
      transform: translate(0, -2px); }
  main .slide-section .controls {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    font-size: 1.3rem;
    transform: translateX(-50%); }

main .about-section {
  overflow: hidden; }
  main .about-section .about-wrap {
    display: flex;
    justify-content: center; }
    main .about-section .about-wrap .about-contents {
      display: flex;
      flex-direction: column;
      width: 100%; }
      @media screen and (min-width: 1025px) {
        main .about-section .about-wrap .about-contents {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 80%; } }
      main .about-section .about-wrap .about-contents .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin-bottom: 40px; }
        @media screen and (min-width: 1025px) {
          main .about-section .about-wrap .about-contents .about-img {
            max-width: 600px;
            margin: 20px 40px; } }
        main .about-section .about-wrap .about-contents .about-img::before {
          content: "";
          display: block;
          padding-bottom: 100%; }
        main .about-section .about-wrap .about-contents .about-img img {
          width: 80%; }
          @media screen and (min-width: 1025px) {
            main .about-section .about-wrap .about-contents .about-img img {
              width: 100%; } }
      main .about-section .about-wrap .about-contents .about-desc {
        display: flex;
        align-items: center;
        width: 100%; }
        @media screen and (min-width: 1025px) {
          main .about-section .about-wrap .about-contents .about-desc {
            max-width: 600px;
            margin: 20px 40px; } }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .top-img {
          display: flex;
          max-width: 600px;
          margin-bottom: 20px; }
          main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .top-img img {
            width: 80%; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap h3 {
          margin-bottom: 20px;
          font-size: 1.4rem;
          font-weight: 700; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap p {
          margin-bottom: 20px;
          font-size: 1.1rem;
          line-height: 1.3; }
          main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap p span {
            font-size: 1.2rem;
            font-weight: 700;
            color: #004da0; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .bottom-img {
          margin-bottom: 20px; }
          @media screen and (min-width: 1025px) {
            main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .bottom-img {
              margin-bottom: 0; } }

main .overview-section {
  position: relative; }
  main .overview-section .overview-wrap {
    background-color: #f7f8fa; }
    @media screen and (min-width: 1025px) {
      main .overview-section .overview-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 50vh;
        transform: translate(-50%, -50%); } }
    main .overview-section .overview-wrap .overview-contents {
      display: flex;
      flex-direction: column; }
      @media screen and (min-width: 1025px) {
        main .overview-section .overview-wrap .overview-contents {
          justify-content: center;
          flex-direction: row;
          width: 100%;
          height: fit-content; } }
      main .overview-section .overview-wrap .overview-contents .overview-img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
        @media screen and (min-width: 1025px) {
          main .overview-section .overview-wrap .overview-contents .overview-img {
            margin: 0 40px; } }
        main .overview-section .overview-wrap .overview-contents .overview-img img {
          width: 100%;
          max-width: 600px; }
      main .overview-section .overview-wrap .overview-contents dl {
        width: 100%; }
        @media screen and (min-width: 1025px) {
          main .overview-section .overview-wrap .overview-contents dl {
            max-width: 600px;
            margin: 0 40px; } }
        main .overview-section .overview-wrap .overview-contents dl dt {
          margin-bottom: 4px;
          color: #004da0;
          font-weight: 700;
          font-size: 1.2rem; }
        main .overview-section .overview-wrap .overview-contents dl dd {
          margin-bottom: 16px;
          font-size: 1.1rem; }
        main .overview-section .overview-wrap .overview-contents dl .point {
          font-weight: 700; }
        main .overview-section .overview-wrap .overview-contents dl .ver-bar {
          padding: 0 4px;
          font-size: 0.8rem; }

main .process-section .process-wrap {
  width: 100%; }
  main .process-section .process-wrap .process-img {
    display: flex;
    justify-content: center;
    width: 100%; }
    @media screen and (min-width: 1025px) {
      main .process-section .process-wrap .process-img {
        align-items: center;
        height: 50vh; } }
    main .process-section .process-wrap .process-img img {
      width: 50%; }
      @media screen and (min-width: 1025px) {
        main .process-section .process-wrap .process-img img {
          width: 100%; } }

main .partners-section .partners-wrap {
  display: flex;
  justify-content: center;
  width: 100%; }
  main .partners-section .partners-wrap .partners-img img {
    width: 100%; }

main .contact-section {
  position: relative; }
  @media screen and (min-width: 1025px) {
    main .contact-section .contact-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50vh; } }
  @media screen and (min-width: 1025px) {
    main .contact-section .contact-wrap ul {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; } }
  main .contact-section .contact-wrap ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; }
    @media screen and (min-width: 1025px) {
      main .contact-section .contact-wrap ul li {
        align-items: center;
        justify-content: space-between;
        margin: 0 16px;
        padding: 4px 16px; } }
    main .contact-section .contact-wrap ul li:last-child img {
      width: 50px; }
    main .contact-section .contact-wrap ul li .img {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 32px;
      height: 32px;
      margin-bottom: 4px; }
      @media screen and (min-width: 1025px) {
        main .contact-section .contact-wrap ul li .img {
          width: 52px;
          height: 52px;
          margin-bottom: 8px; } }
      main .contact-section .contact-wrap ul li .img img {
        width: 90%;
        height: 90%; }
  main .contact-section .go-top {
    position: absolute;
    bottom: 4px;
    right: 0;
    padding-right: 20px;
    font-size: 2rem;
    cursor: pointer; }
    main .contact-section .go-top:hover {
      animation: go-top 2s infinite; }

@keyframes go-top {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

footer {
  position: relative;
  padding: 80px 20px 100px;
  background-color: #f7f8fa; }
  @media screen and (min-width: 1025px) {
    footer .footer-inner .footer-wrap {
      display: flex;
      justify-content: center; } }
  @media screen and (min-width: 1025px) {
    footer .footer-inner .footer-wrap .co-info {
      margin: 0 30px; } }
  footer .footer-inner .footer-wrap .co-info dl {
    margin-bottom: 16px; }
    @media screen and (min-width: 1025px) {
      footer .footer-inner .footer-wrap .co-info dl {
        font-size: 0.8rem; } }
    footer .footer-inner .footer-wrap .co-info dl dt {
      margin-bottom: 4px;
      font-weight: 700; }
    footer .footer-inner .footer-wrap .co-info dl dd {
      margin-bottom: 8px; }
  footer .footer-inner .footer-wrap .co-info .contact {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1025px) {
      footer .footer-inner .footer-wrap .co-info .contact {
        flex-direction: row; } }
  footer .footer-inner .footer-wrap .footer-img {
    display: flex;
    justify-content: center;
    margin-bottom: 16px; }
    @media screen and (min-width: 1025px) {
      footer .footer-inner .footer-wrap .footer-img {
        align-items: center;
        width: 30%;
        margin: 0 30px; } }
    footer .footer-inner .footer-wrap .footer-img img {
      max-width: 500px; }
  footer .footer-inner .sns {
    display: flex;
    justify-content: center;
    margin-bottom: 16px; }
    footer .footer-inner .sns ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%; }
      footer .footer-inner .sns ul li {
        padding: 0 8px;
        margin: 0 8px; }
        footer .footer-inner .sns ul li a i {
          font-size: 1.1rem; }
        footer .footer-inner .sns ul li img {
          width: 17px; }
  footer .footer-inner .copyright {
    display: block;
    text-align: center;
    font-size: 0.7rem; }

/*# sourceMappingURL=style.css.map */