* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html {
  font-family: "Noto Sans KR", sans-serif; }

body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input,
select,
textarea {
  border: none;
  background-color: transparent; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

address {
  font-style: normal; }

@media screen and (min-width: 1025px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .lg-only {
    display: none !important; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: yellow;
  z-index: 30; }
  header .header-inner {
    display: flex;
    align-items: center;
    width: 80%;
    height: 3rem;
    padding: 10px 20px;
    background-color: orange; }
    @media screen and (min-width: 1025px) {
      header .header-inner {
        position: relative;
        max-width: 1920px; } }
    header .header-inner .logo {
      transition: 0.5s; }
      header .header-inner .logo:hover {
        opacity: 0.5; }
      header .header-inner .logo img {
        width: 7rem; }
    header .header-inner nav {
      position: absolute;
      top: 0%;
      right: 0;
      width: 50%;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      transform: translateX(10%);
      transition: 0.5s;
      background-color: pink;
      z-index: 50; }
      header .header-inner nav.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0); }
      @media screen and (min-width: 1025px) {
        header .header-inner nav {
          opacity: 1;
          transform: translateX(0);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: fit-content;
          height: auto; } }
      header .header-inner nav ul {
        position: absolute;
        top: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%; }
        @media screen and (min-width: 1025px) {
          header .header-inner nav ul {
            position: static;
            flex-direction: row; } }
        header .header-inner nav ul li {
          width: 100%;
          padding: 8px 0;
          margin: 8px 0;
          text-align: right;
          cursor: pointer;
          transition: 0.5s; }
          @media screen and (min-width: 1025px) {
            header .header-inner nav ul li {
              margin: 0;
              padding: 0; } }
          header .header-inner nav ul li:last-child {
            position: relative;
            margin-top: 40px; }
            header .header-inner nav ul li:last-child::before {
              position: absolute;
              top: -50%;
              right: 0;
              content: "";
              display: block;
              width: 90%;
              border-top: 1px solid gray; }
              @media screen and (min-width: 1025px) {
                header .header-inner nav ul li:last-child::before {
                  display: none; } }
          header .header-inner nav ul li:hover {
            opacity: 0.5; }
          header .header-inner nav ul li span {
            padding-right: 20px;
            font-size: 1.5rem;
            text-transform: capitalize; }
      header .header-inner nav .close-btn {
        position: absolute;
        top: 1rem;
        right: 16px;
        padding: 4px;
        cursor: pointer;
        transition: 0.5s; }
        header .header-inner nav .close-btn:hover {
          opacity: 0.5; }
    header .header-inner .nav-btn {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 1.1rem;
      cursor: pointer;
      transition: 0.5s; }
      header .header-inner .nav-btn:hover {
        opacity: 0.5; }
    header .header-inner .header-lg-right {
      position: absolute;
      right: 20px;
      display: flex;
      align-items: center; }
      header .header-inner .header-lg-right .pf-link {
        margin-right: 32px;
        font-size: 1.5rem;
        transition: 0.5s; }
        header .header-inner .header-lg-right .pf-link:hover {
          opacity: 0.5; }
      header .header-inner .header-lg-right .sns-lg {
        display: flex; }
        header .header-inner .header-lg-right .sns-lg a {
          padding: 0 4px;
          margin: 0 4px;
          font-size: 1.1rem;
          transition: 0.5s; }
          header .header-inner .header-lg-right .sns-lg a:hover {
            opacity: 0.5; }
          header .header-inner .header-lg-right .sns-lg a img {
            width: 17px; }

main .intro-section {
  height: 100vh;
  background-image: url("../../assets/images/index/bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: skyblue;
  overflow: hidden; }
  main .intro-section .logo .lg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    transform: translate(-50%, -50%); }
    main .intro-section .logo .lg-logo img {
      width: 100%; }
      @media screen and (min-width: 1025px) {
        main .intro-section .logo .lg-logo img {
          width: 50%; } }

main .slide-section {
  position: relative;
  overflow: hidden; }
  main .slide-section .slide-wrap {
    display: flex;
    width: 300vw; }
    main .slide-section .slide-wrap .slide-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      background-color: gray; }
      main .slide-section .slide-wrap .slide-item a {
        display: flex;
        align-items: center; }
        main .slide-section .slide-wrap .slide-item a img {
          width: 100%; }
  main .slide-section .prev,
  main .slide-section .next {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    background-color: #e9e9e9;
    border-radius: 50%; }
    @media screen and (min-width: 1025px) {
      main .slide-section .prev,
      main .slide-section .next {
        width: 48px;
        height: 48px;
        font-size: 2rem; } }
  main .slide-section .prev {
    left: 20px; }
    @media screen and (min-width: 1025px) {
      main .slide-section .prev {
        left: 8rem; } }
    main .slide-section .prev i {
      transform: translate(-1px, -2px); }
  main .slide-section .next {
    right: 20px; }
    @media screen and (min-width: 1025px) {
      main .slide-section .next {
        right: 8rem; } }
    main .slide-section .next i {
      transform: translate(0, -2px); }
  main .slide-section .controls {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    font-size: 1.3rem; }

main .about-section {
  overflow: hidden;
  padding: 0 20px; }
  main .about-section .about-wrap {
    display: flex;
    justify-content: center; }
    main .about-section .about-wrap .about-contents {
      display: flex;
      flex-direction: column;
      width: 100%; }
      @media screen and (min-width: 1025px) {
        main .about-section .about-wrap .about-contents {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 80%; } }
      main .about-section .about-wrap .about-contents .about-img {
        position: relative;
        width: 100%;
        margin-bottom: 20px; }
        @media screen and (min-width: 1025px) {
          main .about-section .about-wrap .about-contents .about-img {
            max-width: 600px;
            margin-bottom: 0;
            margin: 20px 40px; } }
        main .about-section .about-wrap .about-contents .about-img::before {
          content: "";
          display: block;
          padding-bottom: 100%; }
        main .about-section .about-wrap .about-contents .about-img img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          object-fit: contain; }
      main .about-section .about-wrap .about-contents .about-desc {
        display: flex;
        align-items: center;
        width: 100%; }
        @media screen and (min-width: 1025px) {
          main .about-section .about-wrap .about-contents .about-desc {
            margin: 20px 40px; } }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .top-img {
          display: flex;
          margin-bottom: 20px;
          max-width: 600px; }
          main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .top-img img {
            width: 80%; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap h2 {
          margin-bottom: 20px;
          font-size: 1.4rem; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap p {
          margin-bottom: 20px;
          line-height: 1.3;
          font-size: 1.1rem;
          max-width: 600px; }
          main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap p span {
            font-size: 1.2rem;
            font-weight: 700;
            color: #2727ee; }
        main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .bottom-img {
          margin-bottom: 20px;
          max-width: 600px; }
          @media screen and (min-width: 1025px) {
            main .about-section .about-wrap .about-contents .about-desc .about-desc-wrap .bottom-img {
              margin-bottom: 0; } }

main .overview-section {
  padding: 0 20px; }
  main .overview-section .overview-wrap .overview-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    main .overview-section .overview-wrap .overview-img img {
      width: 100%; }
  main .overview-section .overview-wrap dl dd {
    margin-bottom: 4px;
    font-weight: 700; }
  main .overview-section .overview-wrap dl dt {
    margin-bottom: 16px; }

/*# sourceMappingURL=style.css.map */